<section class="faqs">
  <div class="faqs__heading">

    <h1 class="faqs__title">
      Frequently Asked Questions
    </h1>

    <p class="faqs__desc">
      Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us
    </p>
  </div>

  <div class="faqs__questions">

    <ng-container *ngFor="let question of questions; let i = index">


      <div class="faqs__accordion-wrapper" [ngClass]="{'show': anchor==i}">

        <button (click)="toggle(i)" class="faqs__toggle">
          <p class="faqs__btn-txt">
            {{question}}
          </p>
          <fa-icon [icon]="accordion" [ngClass]="{'open': anchor === i}" class="faqs__icon">

          </fa-icon>
        </button>

        <p class="faqs__ans">
          {{answers[i]}}
        </p>
      </div>

    </ng-container>



  </div>

  <button class="btn btn-primary mt-4">
    More Info
  </button>

</section>
