<section class="hero">

  <div class="hero__x">
    <h1 class="hero__title hero__title-desktop">
      A simple bookmark<br /> manager
    </h1>
    <h1 class="hero__title hero__title-mobile">
      A simple bookmark manager
    </h1>

    <p class="hero__desc hero__desc-desktop">
      A clean and simple interface to organize your favourite <br /> websites. Open a new browser tab and see your sites
      load<br /> instantly. Try it for free. </p>

    <p class="hero__desc hero__desc-mobile">
      A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites
      load instantly. Try it for free. </p>

    <div class="hero__cta">
      <button class="btn btn-primary me-2">
        Get it on Chrome
      </button>
      <button class="btn btn-secondary">
        Get it on Firefox
      </button>
    </div>
  </div>

  <div class="hero__y">
    <img src="assets/illustration-hero.svg" alt="Hero Logo" class="hero__illustrations">
  </div>

</section>
