<section class="extension">
  <div class="extension__heading">

    <h1 class="extension__title">
      Download the extensions
    </h1>

    <p class="extension__desc">
      We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to
      prioritize.
    </p>
  </div>

  <div class="extension__content">
    <div class="extension__card-wrapper">

      <div #card1 class="extension__card">
        <img src="assets/logo-chrome.svg" alt="Chrome" class="extension__browser">
        <h2 class="extension__browser-title">
          Add to Chrome
        </h2>
        <p class="extension__browser-desc">
          Minimum verion 62
        </p>

        <div class="dotted-line">

        </div>

        <button class="btn btn-primary w-85">
          Add & Install Extension
        </button>

      </div>
    </div>

    <div class="extension__card-wrapper">

      <div #card2 class="extension__card">
        <img src="assets/logo-firefox.svg" alt="Firefox" class="extension__browser">
        <h2 class="extension__browser-title">
          Add to Firefox
        </h2>
        <p class="extension__browser-desc">
          Minimum verion 55
        </p>

        <div class="dotted-line">

        </div>

        <button class="btn btn-primary w-85">
          Add & Install Extension
        </button>

      </div>

    </div>

    <div class="extension__card-wrapper">


      <div #card3 class="extension__card">
        <img src="assets/logo-opera.svg" alt="Opera" class="extension__browser">
        <h2 class="extension__browser-title">
          Add to Opera
        </h2>
        <p class="extension__browser-desc">
          Minimum verion 46
        </p>

        <div class="dotted-line">

        </div>

        <button class="btn btn-primary w-85">
          Add & Install Extension
        </button>

      </div>
    </div>

  </div>

</section>
