$white: #fff;
$soft-blue:  hsl(231, 69%, 60%);
$soft-red:   hsl(0, 94%, 66%);

$greyish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$px-desktop: 15rem;
$px-tab: 10rem;
$px-phone: 5rem;
